.thirdDiv {height: 600px; width: 500px;} 
.thirdDiv {background-color: teal;}
#spanId {font-size: 18px;}
#spanId {margin: 50px;}
.thirdDiv {padding: 50px;}
.thirdDiv {border: 25px solid midnightblue;}
